<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ru">
<!--<![endif]-->
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110870389-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-110870389-1');
	</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Срочно продать авто в Киеве</title>
	<meta name="description" content="Быстрый выкуп авто в Киеве, выкупаем машины после ДТП, в любом состоянии, самые выгодные условия в городе">
	<meta name="keywords" content="Автовыкуп, автовыкуп киев, автовикуп, автовикуп київ, выкупаем бу авто, выкупаем бу авто киев, викупаємо бу авто, викупаємо бу авто київ, срочно выкупаем авто, срочно выкупаем авто киев, терміново викупаємо авто, терміново викупаємо авто київ, выкупаем бу машины, выкупаем бу машины киев, викупаємо бу машини, викупаємо бу машини київ, выкупаем автомобили, выкупаем автомобили киев, викупаємо автомобілі, викупаємо автомобілі київ, выкупаем бу автомобили, выкупаем бу автомобили киев, викупаємо бу автомобілі,  викупаємо бу автомобілі київ, срочно выкупаем бу автомобили , срочно выкупаем бу автомобили киев, терміново викупаємо бу автомобілі , терміново викупаємо бу автомобілі київ, выгодно выкупаем бу автомобили, выгодно выкупаем бу автомобили киев, вигідно викупаємо бу автомобілі, вигідно викупаємо бу автомобілі київ">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	@*<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />*@
	<link href="~/Content/css/normalize.min.css" rel="stylesheet" />
	<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/css/jquery.fancybox.css" rel="stylesheet" />
	<link href="~/Content/css/flexslider.css" rel="stylesheet" />
	<link href="~/Content/css/sass/styles.min.css" rel="stylesheet" />
	<link href="~/Content/css/queries.css" rel="stylesheet" />
	<link href="~/Content/css/etline-font.css" rel="stylesheet" />
	<link href="~/Content/bower_components/animate.css/animate.min.css" rel="stylesheet" />
	@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">*@
	<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
	<script src="~/Scripts/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body id="top">
	@RenderBody()
	<script src="~/Scripts/jquery-1.11.2.min.js"></script>
	<script src="~/Content/bower_components/retina.js/dist/retina.js"></script>
	<script src="~/Scripts/jquery.fancybox.pack.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/scripts.js"></script>
	<script src="~/Scripts/jquery.flexslider-min.js"></script>
	<script src="~/Content/bower_components/classie/classie.js"></script>
	<script src="~/Content/bower_components/jquery-waypoints/lib/jquery.waypoints.min.js"></script>


	<!-- Google Code for &#1050;&#1083;&#1080;&#1082; &#1087;&#1086; &#1085;&#1086;&#1084;&#1077;&#1088;&#1091; &#1085;&#1072; &#1089;&#1072;&#1081;&#1090;&#1077; Conversion Page
	In your html page, add the snippet and call
	goog_report_conversion when someone clicks on the
	phone number link or button. -->
	<script type="text/javascript">
		/* <![CDATA[ */
		goog_snippet_vars = function () {
			var w = window;
			w.google_conversion_id = 828573478;
			w.google_conversion_label = "1h17CM7drHoQpo6MiwM";
			w.google_remarketing_only = false;
		}
		// DO NOT CHANGE THE CODE BELOW.
		goog_report_conversion = function (url) {
			goog_snippet_vars();
			window.google_conversion_format = "3";
			var opt = new Object();
			opt.onload_callback = function () {
				if (typeof (url) != 'undefined') {
					window.location = url;
				}
			}
			var conv_handler = window['google_trackConversion'];
			if (typeof (conv_handler) == 'function') {
				conv_handler(opt);
			}
		}
/* ]]> */
	</script>
	<script type="text/javascript"
			src="//www.googleadservices.com/pagead/conversion_async.js">
	</script>
</body>
</html>
