@model BuyingMetal.Models.HomeModel

<section class="hero">
	<section class="navigation">
		<header>
			<div class="header-content">
				<div class="logo">
					<a href="#">
						<img src="Content/img/logo.png" alt="auto-market">
					</a>
				</div>
				<div class="header-nav">
					<nav>
						<ul class="primary-nav">
							<li><a href="#m1">Почему мы?</a></li>
							<li><a href="#m2">Как продать авто?</a></li>
							<li><a href="#m3">Задать вопрос</a></li>
							<li><a href="#m4">Преимущества</a></li>
						</ul>
						<ul class="member-actions">
							<li><a class="login" href="tel:+380666726571" onclick="goog_report_conversion ('tel:+380666726571')">066-672-65-71</a></li>
							<li><a class="login" href="tel:+380989369608" onclick="goog_report_conversion ('tel:+380989369608')">098-936-96-08</a></li>
							<li><a href="#m3" class="btn-white btn-small">Заказать звонок</a></li>
						</ul>
					</nav>
				</div>
				<div class="navicon">
					<a class="nav-toggle" href="#"><span></span></a>
				</div>
			</div>
		</header>
	</section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="hero-content text-center">
					<h1>Срочно продать авто в Киеве? </h1>
					<p class="intro">Не вопрос! С нашей компанией эта проблема будет решена в считанные часы — удобно, выгодно и безопасно!</p>
					<a class="btn btn-fill btn-large btn-margin-right" href="tel:+380666726571" onclick="goog_report_conversion ('tel:+380666726571')" style="font-size: 25px;">066-672-65-71</a>
					<a class="btn btn-accent btn-large" href="tel:+380989369608" onclick="goog_report_conversion ('tel:+380989369608')" style="font-size: 25px;">098-936-96-08</a>
				</div>
			</div>
		</div>
	</div>
	<div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
</section>
<section class="intro section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-4 intro-feature">
				<div class="intro-icon">
					<span data-icon="&#xe034;" class="icon"></span>
				</div>
				<div class="intro-content">
					<h5>Бесплатная дагностика</h5>
					<p>Диагностика автомобиля осуществляется <b>бесплатно</b>, что дает вам возможность сэкономить деньги при продаже авто.</p>
				</div>
			</div>
			<div class="col-md-4 intro-feature">
				<div class="intro-icon">
					<span data-icon="&#xe006;" class="icon"></span>
				</div>
				<div class="intro-content">
					<h5>Бесплатное оформление</h5>
					<p>Снятие с учета/переоформление, при продаже авто, происходит за <b>наш</b> счет, что существенно экономит ваши <b>деньги</b> и <b>время</b>.</p>
				</div>
			</div>
			<div class="col-md-4 intro-feature">
				<div class="intro-icon">
					<span data-icon="&#xe016;" class="icon"></span>
				</div>
				<div class="intro-content last">
					<h5>Выплата день в день</h5>
					<p>При работе с нашей компанией, денежная выплата осуществляется в полном объеме, сразу, возле авто, в день оформления сделки.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="features section-padding" id="m1">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-md-offset-5">
				<div class="feature-list">
					<h3>Почему стоит воспользоваться нашими услугами?</h3>
					<p>
						Вы не раз слышали, что услуги автовыкупа не могут быть выгодными? Мы готовы опровергнуть этот миф! Наша компания может предложить клиентам массу неоспоримых преимуществ, и вот ключевых из них:
					</p>
					<ul class="features-stack">
						<li class="feature-item">
							<div class="feature-icon">
								<span data-icon="&#xe055;" class="icon"></span>
							</div>
							<div class="feature-content">
								<h5>Оперативность</h5>
								<p>Мы осуществляем срочный выкуп автомобилей. Процедура займет минимум вашего времени.</p>
							</div>
						</li>
						<li class="feature-item">
							<div class="feature-icon">
								<span data-icon="&#xe016;" class="icon"></span>
							</div>
							<div class="feature-content">
								<h5>Максимальные выплаты</h5>
								<p>Вы сможете продать машину с выгодой для себя, даже если это машина, пострадавшая в ДТП, получив при этом максимальную выплату.</p>
							</div>
						</li>
						<li class="feature-item">
							<div class="feature-icon">
								<span data-icon="&#xe046;" class="icon"></span>
							</div>
							<div class="feature-content">
								<h5>Удобство сотрудничества</h5>
								<p>Вы сами выбираете удобное время для осуществления сделки. Наши специалисты прибудут в строго назначенный час, а осуществление расчета возможно непосредственно на месте, причем любым подходящим для вас способом.</p>
							</div>
						</li>
						<li class="feature-item">
							<div class="feature-icon">
								<span data-icon="&#xe020;" class="icon"></span>
							</div>
							<div class="feature-content">
								<h5>Абсолютная безопасность</h5>
								<p>Мы гарантируем юридическую чистоту сделки, а также ее полную конфиденциальность.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="device-showcase">
		<div class="devices">
			<div class="car1-wrap wp1"></div>
			@*<div class="car11-wrap wp2"></div>*@
		</div>
	</div>
	<div class="responsive-feature-img"><img src="Content/img/carslogo.png" alt="responsive devices"></div>
</section>
<section class="features section-padding" id="m2" style="background: #e6eae4;">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-md-offset-5">
				<div class="feature-list">
					<h3>Как продать АВТО?</h3>
					<p>
						Наша компания уже длительное время работает в Киеве и предлагает клиентам быстрый выкуп авто. Мы обладаем большим опытом в данной сфере деятельности и создаем для клиентов наиболее оптимальные условия для успешного заключения сделки.
						Ваш автомобиль пострадал в аварии, и вы сомневаетесь, что его в принципе возможно продать? Все реально! Наша компания осуществляет выкуп транспортных средств, находящихся в любом состоянии, в том числе выкуп авто после ДТП, которые практически нереально продать самостоятельно. Однако для наших клиентов это не проблема.
					</p>
					<p>
						Более того, клиентам даже не приходится решать вопрос с документацией и самостоятельно снимать автомобиль с учета. Мы оказываем услуги комплексно, а потому за оформление документов также отвечают наши специалисты.
					</p>

					<p>
						Сотрудничество осуществляется по простой схеме:
					</p>
					<ul class="features-stack">
						<li class="feature-item">
							<div class="feature-icon">
								<span data-icon="&#xe040;" class="icon"></span>
							</div>
							<div class="feature-content">
								<p>Клиент оставляет заявку (по телефону, письмом на e-mail или на сайте)</p>
								<p>066-672-65-71, 098-936-96-08</p>
								<p>howeri@ukr.net</p>
							</div>
						</li>
						<li class="feature-item">
							<div class="feature-icon">
								<span data-icon="&#xe055;" class="icon"></span>
							</div>
							<div class="feature-content">
								<p>Согласовывается время прибытия нашего специалиста по оценке авто</p>
							</div>
						</li>
						<li class="feature-item">
							<div class="feature-icon">
								<span data-icon="&#xe059;" class="icon"></span>
							</div>
							<div class="feature-content">
								<p>В назначенное время специалист прибывает для осмотра транспортного средства</p>
							</div>
						</li>
						<li class="feature-item">
							<div class="feature-icon">
								<span data-icon="&#xe016;" class="icon"></span>
							</div>
							<div class="feature-content">
								<p>На основании проведенной оценки определяется стоимость машины</p>
							</div>
						</li>
						<li class="feature-item">
							<div class="feature-icon">
								<span data-icon="&#xe05b;" class="icon"></span>
							</div>
							<div class="feature-content">
								<p>Если условия сделки устраивают клиента, заключается договор</p>
							</div>
						</li>
						<li class="feature-item">
							<div class="feature-icon">
								<span data-icon="&#xe006;" class="icon"></span>
							</div>
							<div class="feature-content">
								<p>Специалисты оформляют все необходимые документы</p>
							</div>
						</li>
						<li class="feature-item">
							<div class="feature-icon">
								<span data-icon="&#xe04e;" class="icon"></span>
							</div>
							<div class="feature-content">
								<p>Указанная в договоре денежная сумма передается клиенту</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="device-showcase">
		<div class="devices">
			<div class="money2-wrap wp1"></div>
			@*<div class="car22-wrap wp2"></div>*@
		</div>
	</div>
	<div class="responsive-feature-img"><img src="Content/img/money2.png" alt="responsive devices"></div>
</section>
<section class="features-extra section-padding" id="m4" style="padding-bottom:0">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="feature-list">
					<h3>Что такое автовыкуп и в чем его преимущества?</h3>
					<p>Как легко догадаться, автовыкуп представляет собой услугу выкупа авто, которую оказывает специализированная компания. Разумеется, заниматься продажей машины можно и самостоятельно. Однако будет ли от этого толк — вопрос весьма спорный. В Киеве автовыкуп становится все более востребованной услугой, и это неслучайно. Автовладельцы отбрасывают вариант самостоятельной продажи транспортного средства и делают выбор в пользу профессиональных услуг по ряду причин:</p>
					<p><b>Это быстро</b>. Выкуп авто является самым быстрым способом осуществить сделку. Вам не нужно тратить время на предпродажную подготовку, создание фото, размещение объявлений и общение с потенциальными покупателями;</p>
					<p><b>Это удобно</b>. Для того чтобы продать машину самостоятельно, нужно железные нервы. И неисчерпаемые запасы терпения. Если у вас таковых не имеется, автовыкуп будет безупречным вариантом;</p>
					<p><b>Это безопасно</b>. Можно быть уверенными в том, что сделка не принесет неприятных сюрпризов — специализированные компании заключают с клиентами официальный договор. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="money-wrap wp3"></div>
	<div class="responsive-feature-img"><img src="Content/img/money.png" alt="responsive devices"></div>
</section>
<section class="hero-strip section-padding">
	<div class="container">
		<div class="col-md-12 text-center">
			<h2>
				Выкуп авто в Киеве
			</h2>
			<p>Вам необходимо срочно продать авто? Хотите, чтобы все прошло быстро и безопасно? Тогда самый лучший вариант для вас — это автовыкуп! Жителям Киева услуги выкупа авто может предложить наша компания. Оставь заявку, чтобы получить максимальную выплату за авто!</p>
			<a href="#m3" class="btn btn-ghost btn-accent btn-large">Оставить заявку!</a>
			<div class="logo-placeholder floating-logo"><img src="Content/img/sketch-logo.png" alt="Оставить заявку!"></div>
		</div>
	</div>
</section>
<section class="sign-up section-padding text-center" id="m3">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3>Остались вопросы по продаже авто?</h3>
				<p>Оставьте заявку и наши сотрудники перезвонят Вам в ближайшее время</p>

				<div class="row centered">
					<div class="col-lg-10 col-lg-offset-1">
						@using (Html.BeginForm("S", "H", FormMethod.Post))
						{
							@Html.AntiForgeryToken()
							@Html.ValidationSummary(false)

							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">+38</div>
									<input type="text" name="tel" required="" pattern="^[0]{1}\d{9}$" placeholder="0ХХ ХХХ ХХ ХХ" class="form-control" title="Введите правильно номер. Пример 098 936 96 08" />
								</div>
							</div>
								<textarea name="message" class="form-control" rows="5" placeholder="Напишите ваш вопрос..." required=""></textarea>
								<br />
								<button type="submit" class="btn btn-lg btn-fill sign-up-btn pull-right">Оставить заявку</button>
						}

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="to-top">
	<div class="container">
		<div class="row">
			<div style="color: white;padding-top: 20px; font-family: 'Open Sans',sans-serif; position: absolute;">Все права защищены. @DateTime.Now.Date.Year.ToString()г</div>
			<div class="to-top-wrap">
				<a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
			</div>
		</div>
	</div>
</section>

@if (ViewData["Message"] != null && !string.IsNullOrEmpty(ViewData["Message"].ToString()))
{
	<div class="modal fade in" style="display: block" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$(this).closest('.modal').remove()">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Информация</h4>
				</div>
				<div class="modal-body">
					<div class="row centered">
						<h4 style="padding: 0 20px;color: black; text-align: center;line-height: 30px;">@ViewData["Message"]</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
}